*,
*::before,
*::after {
     box-sizing: border-box;
}

::-webkit-scrollbar {
     display: none;
}

body {
     height: 100vh;
     background-color: var(--background-color);
     font-family: sans-serif;
}

:root {
     --primary-color: #007aff;
     --primary-soft-color: #7dbcff;
     --soft-green: #00b900;
     --secondary-color: #e0e9f3;
     --dark-color: #333333;
     --background-color: white;
     --border: 1px solid #b8b8b8;
     --form-height: 5em;
     --header-height: 4em;
}

header {
     height: var(--header-height);
     width: 100vw;
     background-color: var(--secondary-color);
     border-bottom: var(--border);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

header .header__title {
     margin: 0;
}

/* https://grid.layoutit.com/?id=uAyKv0z */

.grid-container {
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
     grid-template-areas: "message";
     position: relative;
}

.users {
     display: none;
}

.message {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr var(--form-height);
     grid-template-areas: "message__area""message__form";
     grid-area: message;
     height: calc(100vh - var(--header-height));
}

.message__area {
     grid-area: message__area;
     overflow: scroll;
     padding: 8px;
}

.message__area ul {
     list-style-type: none;
     padding-inline-start: 0;
     display: flex;
     flex-direction: column;
}

.message__info {
     text-align: center;
     font-size: 0.75rem;
     margin-bottom: 24px;
}

.message__item {
     display: block;
     width: fit-content;
     max-width: 60%;
     padding: 12px;
     overflow-wrap: break-word;
     margin-bottom: 32px;
     position: relative;
}

.message__item::before {
     content: attr(data-sender);
     font-size: .75rem;
     position: absolute;
     top: -16px;
     width: max-content;
}

.message__item.message__item-sent {
     background-color: var(--primary-color);
     border-radius: 16px 16px 0 16px;
     color: white;
     align-self: flex-end;
     margin-bottom: 16px;
}

.message__item.message__item-received {
     background-color: var(--secondary-color);
     border-radius: 16px 16px 16px 0;
}

.message__item.message__item-private-received {
     background-color: var(--dark-color);
     color: white;
     border-radius: 16px 16px 16px 0;
}

.message__item.message__item-private-received::before {
     color: black;
}

.message__form {
     grid-area: message__form;
     border-top: var(--border);

}

.message__form form {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     padding: 8px;
}

.message__form input {
     background-color: var(--secondary-color);
     border: none;
     border-radius: 50px;
     height: 40px;
     width: calc(100% - 60px);
     padding: 8px;
     outline: none;
     padding-left: 16px;
}

.message__form button {
     background-color: var(--primary-color);
     border: none;
     border-radius: 50px;
     color: white;
     height: 40px;
     width: 40px;
}

@media screen and (min-width: 960px) {
     .grid-container {
          display: grid;
          grid-template-columns: 300px 1fr;
          grid-template-rows: 1fr;
          grid-template-areas: "users message";
     }

     .users {
          grid-area: users;
          width: 100%;
          display: block;
          border-right: var(--border);
          /* padding: 16px; */
     }

     .message {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 4em;
          grid-template-areas: "message__area""message__form";
          grid-area: message;
     }

     .users .users__title {
          text-align: center;
          font-size: 1.8rem;
     }

     .users .users__list{
          list-style-type: none;
          padding-inline-start: 0;
          display: flex;
          flex-direction: column;
          margin-top: 0;
     }

     .users .users__self {
          background-color: var(--soft-green);
          padding: 12px;
          border-radius: 50px 0 0 50px;
          margin: 4px 0 4px 24px;
          color: white;
          font-weight: bold;
          padding-left: 16px;
     }

     .users .users__list .users__item {
          background-color: var(--primary-soft-color);
          padding: 12px;
          display: inline-block;
          border-radius: 50px 0 0 50px;
          margin: 4px 0 4px 24px;
          color: white;
          padding-left: 16px;
     }


}