*,
*::before,
*::after {
     box-sizing: border-box;
}

::-webkit-scrollbar {
     display: none;
}

body {
     height: 100vh;
     background-color: var(--background-color);
     font-family: sans-serif;
}

:root {
     --primary-color: #007aff;
     --secondary-color: #e0e9f3;
     --background-color: white;
     --border: 1px solid #b8b8b8; 
     --form-height: 5em;
}

.grid-container {
     height: 100%;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
     grid-template-areas: "message";
     /* https://grid.layoutit.com/?id=uAyKv0z */
}

.list {
     grid-area: list;
     display: none;
}

.message {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr var(--form-height);
     grid-template-areas: "message__area""message__form";
     grid-area: message;
}

.message__area {
     grid-area: message__area;
     height: calc(100vh - var(--form-height));
     overflow: scroll;
     padding: 8px;
}

.message__area ul{
     list-style-type: none;
     padding-inline-start: 0;
     display: flex;
     flex-direction: column;
}

.message__item{
     display: block;
     max-width: 60%;
     padding: 12px;
     overflow-wrap: break-word;
     margin-bottom: 16px;
}

.message__item.message__item-sent {
     background-color: var(--primary-color);
     border-radius: 16px 16px 0 16px;
     color: white;
     align-self: flex-end;
}

.message__item.message__item-received {
     background-color: var(--secondary-color);
     border-radius: 16px 16px 16px 0;
}

.message__form {
     grid-area: message__form;
     border-top: var(--border);
     
}

.message__form form {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     padding: 8px;
}

.message__form input {
     background-color: var(--secondary-color);
     border: none;
     border-radius: 50px;
     height: 40px;
     width: 80%;
     padding: 8px;
     outline: none;
     padding-left: 16px;
}

.message__form button {
     background-color: var(--primary-color);
     border: none;
     border-radius: 50px;
     color: white;
     height: 40px;
     width: 40px;
}